<!DOCTYPE html>

<html lang="en">

<head>

  {{!-- title --}}
  <title>{{meta_title}}</title>
  <link rel="favicon" href="{{asset '/favicon.ico'}}">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width"/>
  <meta name="description" content="{{meta_description}}">
  <link rel="stylesheet" type="text/css" href="{{asset '/styles/spacegrid.css'}}">
  <link rel="stylesheet" type="text/css" media="screen" href="{{asset '/styles/main.css'}}">{{!-- scripts --}}
  <script type="text/javascript" src="{{asset '/scripts/jquery.js'}}"></script>
  <script src="https://use.fontawesome.com/572cb92a4b.js"></script>

  {{!-- ghost head --}}
  {{ghost_head}}

</head>

<body class="{{body_class}}">
{{navigation}}

{{!-- content --}}
<main id="content">
  {{{body}}}
</main>

{{!-- footer --}}
<footer>
    <div class="footer" align="center">
        <div class="footer-text">
            Made with <i class="icon-color fa fa-heart" aria-hidden="true"></i> using <a
                href="http://github.com/jonathanspeek/spacegrid">Spacegrid</a>
        </div>
    </div>
</footer>

{{!-- ghost foot --}}
{{ghost_foot}}
</body>

</html>
