{{!< default}}
{{#post}}
    <div class="row" id="main">
        <div align="center" class="space-1">

            <div class="blog-body">
                <article id="{{id}}" class="{{post_class}}">
                    <div align="center">
                        {{#if image}}
                            <a href="{{url}}"><img class="blog-main-photo" src="{{image}}"/></a>
                        {{/if}}
                        <p class="code-text" id="meta-text">
                        <time datetime="{{date format="YYYY-MM-DD"}}">{{date published_at format='Do MMMM YYYY'}}</time>
                        by {{#author}}<a href="{{url}}">{{name}}</a>{{/author}}
                        {{tags prefix=" on "}}
                        </p>
                        <h2 class="blog-title"><a href="{{url}}" title="{{title}}">{{title}}</a></h2>
                    </div>
                    <p>{{content}}</p>
                </article>
            </div>
        </div>
    </div>
{{/post}}